body{
    width:50%;
    border:10px solid black;
    padding:0%20%20%20%;
    background-color:#7fffd4;
    margin-left:auto;
    margin-right:auto;
    padding:0%20%20%20%;
 }
p{
  font-size:100%;
  font-weight:light;
}
